<div class="post-info">
  <h1>
    <%= @post.title.capitalize %>
  </h1>
  <h4>
    Author:
    <%= @post.user.name %>
  </h4>
</div>

<div class="post-body">
  <p>
    <%= @post.body.capitalize %>
  </p>
</div>